:root
	--main-foreground #fff
	--main-background #000

	--header-background #000
	--header-separator-color #222
	--header-button-foreground #ddd
	--header-button-hover-foreground #fff
	--header-title-foreground #b4cc7e
	--header-machine-foreground #fff
	--header-machine-caption-foreground #ddd
	--header-pid-foreground #ccc
	--header-pid-caption-foreground #ccc
	--header-uptime-foreground #ccc
	--header-uptime-caption-foreground #ccc
	--header-now-foreground #f0f0f0
	--header-follow-foreground #fff
	--header-rec-foreground #fff

	--logs-header-background #222
	--logs-header-foreground #fff
	--logs-header-column-hover-background #333
	--logs-header-column-chosen-background #f33

	--logs-body-log-odd-background transparent
	--logs-body-log-odd-hover-background rgba(255, 255, 255, 0.1)
	--logs-body-log-even-background rgba(255, 255, 255, 0.05)
	--logs-body-log-even-hover-background rgba(255, 255, 255, 0.1)
	--logs-body-log-focus-background #02d7e1
	--logs-body-log-focus-foreground #000
	--logs-body-log-column-date-foreground rgba(#fff, 0.5)
	--logs-body-log-column-host-foreground #008080
	--logs-body-log-column-path-foreground #fff
	--logs-body-log-column-path-query-foreground rgba(#fff, 0.6)
	--logs-body-log-column-ua-foreground rgba(#fff, 0.7)
	--logs-body-log-column-res-foreground rgba(#fff, 0.5)
	--logs-body-log-column-res-success-foreground #0f0
	--logs-body-log-column-res-redirection-foreground #00ceff
	--logs-body-log-column-res-client-error-foreground #f73
	--logs-body-log-column-res-server-error-foreground #f22
	--logs-body-log-column-res-time-foreground rgba(#fff, 0.6)
