:root
	--main-foreground #333
	--main-background #fff

	--header-background #fff
	--header-separator-color #eee
	--header-button-foreground #222
	--header-button-hover-foreground #555
	--header-title-foreground #b4cc7e
	--header-machine-foreground #333
	--header-machine-caption-foreground #777
	--header-pid-foreground #444
	--header-pid-caption-foreground #777
	--header-uptime-foreground #444
	--header-uptime-caption-foreground #777
	--header-now-foreground #444
	--header-follow-foreground #222
	--header-rec-foreground #222

	--logs-header-background #eee
	--logs-header-foreground #333
	--logs-header-column-hover-background #ddd
	--logs-header-column-chosen-background #4ca1ff

	--logs-body-log-odd-background transparent
	--logs-body-log-odd-hover-background rgba(0, 0, 0, 0.1)
	--logs-body-log-even-background rgba(0, 0, 0, 0.05)
	--logs-body-log-even-hover-background rgba(0, 0, 0, 0.1)
	--logs-body-log-focus-background #4ca1ff
	--logs-body-log-focus-foreground #fff
	--logs-body-log-column-date-foreground rgba(#000, 0.5)
	--logs-body-log-column-host-foreground #008080
	--logs-body-log-column-path-foreground #222
	--logs-body-log-column-path-query-foreground rgba(#000, 0.4)
	--logs-body-log-column-ua-foreground rgba(#000, 0.7)
	--logs-body-log-column-res-foreground rgba(#000, 0.5)
