$header-height = calc(1rem + 16px)

@charset "utf-8"

@import 'https://fonts.googleapis.com/css?family=Roboto+Mono'

*
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none
	cursor default
	font-family 'Roboto Mono', monospace

html, body
	margin 0
	padding 0
	color var(--main-foreground)
	background var(--main-background)

body
	-webkit-text-size-adjust 100%
	padding-top $header-height

header
	display block
	position fixed
	z-index 1024
	top 0
	left 0
	height $header-height
	width 100%
	font-size 0.8em
	background var(--header-background)

	left, right
		height $header-height
		background inherit
		white-space nowrap

		> *
			display inline-block
			line-height $header-height

		p
			margin 0
			padding 0

	left
		position absolute
		left 0

	right
		position absolute
		right 0

	actions
		border-left solid 1px var(--header-separator-color)

		> *
			display inline-block
			line-height $header-height

		button, a
			-webkit-appearance none
			-moz-appearance none
			appearance none
			user-select none
			-moz-user-select none
			-webkit-user-select none
			-ms-user-select none
			cursor pointer
			padding 0 12px
			margin 0
			font-size 1em
			text-decoration none
			color var(--header-button-foreground)
			outline none
			border none
			border-right solid 1px var(--header-separator-color)
			border-radius 0
			box-shadow none
			background transparent
			transition all .3s ease

			*
				pointer-events none

			> i
				margin-right 4px

			&:hover
				color var(--header-button-hover-foreground)
				transition all 0.1s ease

			&:active
				transition all 0s ease

	#title
		padding 0 12px
		font-weight bold
		color var(--header-title-foreground)
		border-right solid 1px var(--header-separator-color)

	machine
		padding 0 12px
		color var(--header-machine-foreground)
		border-right solid 1px var(--header-separator-color)

		&:before
			content "MACHINE:"
			margin-right 4px
			color var(--header-machine-caption-foreground)

	pid
		padding 0 12px
		color var(--header-pid-foreground)
		border-right solid 1px var(--header-separator-color)

		&:before
			content "PID:"
			margin-right 4px
			color var(--header-pid-caption-foreground)

	uptime
		padding 0 12px
		min-width 12em
		color var(--header-uptime-caption-foreground)
		border-right solid 1px var(--header-separator-color)

		&:before
			content "UPTIME:"
			margin-right 4px
			color var(--header-uptime-caption-foreground)

		&:after
			content "s"

	#now
		padding 0 12px
		color var(--header-now-foreground)
		border-right solid 1px var(--header-separator-color)

		&:before
			content "\f017"
			font-family FontAwesome
			margin-right 6px

		.yyyymmdd
			margin-right 6px

	#follow
		color var(--header-follow-foreground)
		transition all .3s ease

		> i
			margin-right 4px

		&.enable
			color #c1e31c

			&:hover
				color lighten(#c1e31c, 30%)
				transition all 0.1s ease

			&:active
				color darken(#c1e31c, 20%)
				transition all 0s ease

	#rec
		color var(--header-rec-foreground)
		background #000
		transition all .3s ease

		&:hover
			background #111
			transition all 0.1s ease

		&:active
			background #222
			transition all 0s ease

		&.enable
			color #fff
			background #f00

			&:hover
				background #f22

			&:active
				background #e00

		> i
			margin-right 4px

#logs
	width 100%
	border-collapse collapse
	table-layout fixed

	[data-column='date']
		width 8%

	[data-column='method']
		width 4%

	[data-column='host']
		width 12%

	[data-column='path']
		width 22%

	[data-column='ua']
		width 37%

	[data-column='ip']
		width 10%

	[data-column='worker']
		width 7%

	> thead
		display block
		position fixed
		z-index 1
		top $header-height
		left 0
		width 100%
		font-size 0.8em
		color var(--logs-header-foreground)
		background var(--logs-header-background)

		&.dragging > tr > th:not(.chosen)
			background transparent !important

		> tr
			display block
			position relative
			width 100%

			> th
				display inline-block
				position relative
				box-sizing border-box
				padding 6px 12px
				text-align left
				word-wrap break-word
				white-space nowrap
				text-overflow ellipsis
				outline none
				overflow hidden

				&:hover
					background var(--logs-header-column-hover-background)

				&.chosen
					background var(--logs-header-column-chosen-background)

				&:after
					font-family FontAwesome
					display block
					position absolute
					top 0
					right 8px
					bottom 0
					margin auto
					height 1em

				&.desc
					&:after
						content "\f106"

				&.asc
					&:after
						content "\f107"

	> tbody
		display block
		font-size 0.8em

		> tr
			display block
			position relative
			margin 0
			padding 0
			width 100%
			cursor default

			&:nth-child(odd)
				background var(--logs-body-log-odd-background)

				&:hover
					background var(--logs-body-log-odd-hover-background)

			&:nth-child(even)
				background var(--logs-body-log-even-background)

				&:hover
					background var(--logs-body-log-even-hover-background)

			&:focus
				background var(--logs-body-log-focus-background) !important
				outline none

				&, *
					color var(--logs-body-log-focus-foreground) !important

			> td
				display inline-block
				box-sizing border-box
				padding 6px 12px
				word-wrap break-word
				white-space nowrap
				text-overflow ellipsis
				overflow hidden

				&[data-column='date']
					color var(--logs-body-log-column-date-foreground)

				&[data-column='host']
					color var(--logs-body-log-column-host-foreground)

				&[data-column='path']
					color var(--logs-body-log-column-path-foreground)

					query
						color var(--logs-body-log-column-path-query-foreground)

				&[data-column='ua']
					color var(--logs-body-log-column-ua-foreground)

				&[data-column='worker']
					color var(--logs-body-log-column-worker-foreground)

@media (max-width: 800px)
	html
		font-size 0.5em
